<html lang="ko">
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h1>Blog</h1>
    </div>
  </body>
</html>
