<div class="nav">
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <% if(signedUser) { %>
      <li class="upload"><a href="/upload">Upload</a></li>
    <% } %>
    <li><a href="/list">List</a></li>
    <% if(!signedUser) { %>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Sign In</a></li>
    <% } %>
    <% if(signedUser) { %>
      <li><a href="/profile?userId=<%= signedUser._id %>"><%= signedUser.name %>님 로그인됨</a></li>
    <% } %>
    <% if(signedUser) { %>
      <li><a href="/signout">Sign Out</a></li>
    <% } %>
  </ul>
</div>
