<div class="nav">
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <li class="upload"><a href="/upload">Upload</a></li>
    <li><a href="/list">List</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/signin">Sign In</a></li>
  </ul>
</div>
