<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h2>Your Article</h2>
      <div>
        <fieldset style = "width:30%">
          <legend><%= post.title %></legend>
            <legend>내용</legend>
            <textarea rows="10" cols="40" name="content"><%= post.content %></textarea>
        </fieldset>
      </div>
    </div>
  </body>
</html>
