<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Brigtparagon</title>
    <link rel="shortcut icon" href="fav.png">
    <link href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" rel="stylesheet">
    <link href="css/basic.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="nav">
        <ul>
          <li class="home"><a href="/">Home</a></li>
          <li class="upload"><a href="/upload">Upload</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </div>
    </header>
    <div align="center">
      <h2>Sign In</h2>
      <div>
        <form name="loginForm" action="/signin" method="get">
          <fieldset style="width:30%">
            <legend>로그인</legend>
              <div align="left">
                Email Address: <input type="text" id="email" name="email"/><br><br>
                Password: <input type="password" id="password" name="password"/><br><br>
            </div>
          </fieldset>
          <input type="submit" value="로그인">
        </form>
      </div>
    </div>
  </body>
</html>
