<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h2>Sign Up</h2>
      <div>
        <form name="signUpForm" action="/user" method="post">
          <fieldset style="width:30%">
            <legend>회원 가입</legend>
              <div align="left">
                Email Address: <input type="text" id="email" name="email"/><br><br>
                Name: <input type="text" id="name" name="name"/><br><br>
                Facebook Address: <input type="text" id="facebook" name="facebook"/><br><br>
                Password: <input type="password" id="password" name="password"/><br><br>
            </div>
          </fieldset>
          <input type="submit" value="등록">
        </form>
      </div>
    </div>
  </body>
</html>
