<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h2>Sign In</h2>
      <div>
        <form name="loginForm" action="/signin" method="post">
          <fieldset style="width:30%">
            <legend>로그인</legend>
              <div align="left">
                Email Address: <input type="text" id="email" name="email"/><br><br>
                Password: <input type="password" id="password" name="password"/><br><br>
            </div>
          </fieldset>
          <input type="submit" value="로그인">
        </form>
      </div>
    </div>
  </body>
</html>
