<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h2>Post an Article</h2>
      <div>
        <form name="postForm" action="/post" method="post">
          <fieldset style="width:30%">
            <legend>글 작성</legend>
              제목 <br><input type="text" id="title" name="title"/><br><br>
              <legend>내용</legend>
              <textarea rows="10" cols="40" id="content" name="content"></textarea>
          </fieldset>
          <input type="submit" value="게시">
        </form>
      </div>
    </div>
  </body>
</html>
