.Navigate {
  background-color: #009900;
  color: white;
  font-size: 2rem;
  /*padding: 1.2rem;*/
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

/*a {
  background-color: #66CC66;
  color: white;
  font-size: 1rem;
  padding: 1.2rem;
  text-align: center;
  font-weight: 300;
}*/
